[Desktop Entry]
Type=Application
Exec=blueproximity
Hidden=false
X-GNOME-Autostart-enable=true
Name="BlueProximity"
Comment="Proximity detector for bluetooth devices"
