alias art="$(which php) artisan"
alias codecept="./vendor/bin/codecept"

if [[ "$package_manager" = "yum" ]];
then
    alias pip="pip3.4"
fi

# Projects
alias cd-mpc="cd $HOME/www/projects/MPC/MPCv4"
alias pretify-json="python -mjson.tool"


alias la="ls -all --color --human-readable -l -1 --group-directories-first"
# -l = list in long format
# -1 (one) = 1 file per line

# As I am always getting cat as cat
alias car="cat"

# Time to add some git aliases
alias gs="git status"
alias gd="git diff"
alias gaa="git add --all"
alias gpu="git push"
alias gpl="git pull"
alias t="tig"

# If I am at work I want to set up some specific aliases
if [[ "$place" = "Work" ]];
then
    function gt() {
        git checkout FH-$!
    }

    ###########################################################
    # Function to automatically insert the git branch in commits
    ###########################################################
    function gc {
        local branch=`git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'`
        local message=$1
        local full="[refs $branch] $message"
        git commit -m "$full"
    }
else
    function gc() {
        local branch=`git symbolic-ref -q HEAD | sed -e 's|^refs/heads/||'`
        local message=$1
        git commit -m "$message"
    }
fi

# If we are in Sabayon then we need to create a few specific aliases in order to make the functionality
# standard


if echo "`uname -a`" | grep --silent "sabayon" -; then
    distro="sabayon"
    alias tree='tree -a'

    # This system has an executable file of gem20 for ruby gem
    alias gem="gem20"
fi

# Aliases for testing
 alias run-unit="codecept run unit --coverage --coverage-text ../../../tests/coverage_report.txt"

alias unit="phpunit --coverage-text --coverage-html tests/_output/html --debug"

