# Set the dotfiles directory
export dotfiles_dir="$HOME/dotfiles"

#Set the install home
user_bin=$HOME/bin
export user_bin

essential_software=("git" "curl" "jq" "php")
dotfiles="$dotfiles_dir"
skip_links=false

cr=`echo $'\n.'`
cr=${cr%.}
export cr

# Make vim the default editor
export EDITOR="vim"
# Don’t clear the screen after quitting a manual page
export MANPAGER="less -X"

# Larger bash history (allow 32³ entries; default is 500)
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE

# timestamps for bash history. www.debian-administration.org/users/rossen/weblog/1
# saved for later analysis
HISTTIMEFORMAT='%F %T '

export HISTTIMEFORMAT

# Set the home for composer files
export COMPOSER_HOME="$dotfiles_dir/.composer"


# Set the home for npm files
export NPM_CONFIG_PREFIX=$dotfiles_dir/npm/

# Set the home for gem files
export GEM_HOME=$dotfiles_dir/gem/
export LOAD_PATH=$GEM_HOME

# Set the home for python pip files
export PYTHONUSERBASE=$dotfiles_dir/pip/
