# For the mac projects I work on :-(
.DS_Store/

# VCS
.svn/
.git/

# Vim
*~
*.swp
~/.vimswap/*
~/.vimundo/*
~/.vimviews/*
#PHPStorm
.idea/

# Linux
vendor/
node_modules/
bin/
pip/
npm/
.composer/cache/
.composer/vendor/
.composer/.htaccess
gem/
